@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

ul,
li {
    list-style: none;
}

button {
    font-size: .85em;
}

a {
    text-decoration: none;
}

.container {
    padding: 3em 8em;
}

@import './var';
@import './header';
@import './footer';
@import './about';